body {  /*фон и прочее */
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
p {   /*текст */
      color: black;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-size: 20px;
      font-style: normal;
      text-align: center;
      margin-top: 30px;
  }
.Metrix {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding: 18px 150px;
  border-radius: 30px;
  color: black;
  border: 2px solid black;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  display: block;              /* теперь кнопка занимает всю строку */
  width: fit-content;          /* ширина по содержимому */
  margin: 50px auto 0 auto;    /* автоцентрирование по горизонтали и отступ сверху */
  transition: background-color 0.3s, color 0.3s;
}
.Metrix:hover {
  background-color: black;
  color: white;
}

.navbar {  /*верхнее меню */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff; 
    padding: 20px 40px;         
    margin: 30px auto;          
    width: fit-content;         
    border-radius: 15px;        
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
.menu {  /*ссылки меню */
    display: flex;
    justify-content: center;
    gap: 70px;
  }  /*краска для ссылок меню */
  .menu a,
  .menu a:visited,
  .menu a:hover,
  .menu a:active {
    text-decoration: none;
    color: black;
  }

  .Lor {  /*кнопка "назад" */
    margin-top: 50px;
    text-align: center;
  }

    .Calk {
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
      padding: 18px 70px;        
      border-radius: 30px;       
      background-color: black; 
      color: white;              
      border: none;              
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      margin-top: 50px;
    }